.footer-light,.footer-dark{
    .footer-content {
    display: flex;
    align-items: left;
    margin-left: 9%;
}
}
.footer-dark{
    background-color: #000;
}
.footer-light{
    background-color: #fff;
}
.contactCircle
    {
        margin-left:2rem;
        margin-top:4rem;
        margin-bottom:4rem;
        display: grid;
        align-items: center;
        justify-content: center;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        border-color: black;
        border-width: 1px;
        border-style: solid;
        background-color: #fff;
        &:hover{
            cursor: pointer;
            background-color:  #7E41FF;
            border-color: #F7F4FF;
        }
        img {
            margin: auto;
            display: block;
            align-items: center;
            justify-content: center;
            width: 70%;
            height: auto;
        }
    }