.accordion {
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    margin-bottom: 10px;
}

.accordion-header {
    background-color: #FFFFFF;
    padding: 10px;
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-body {
    padding: 10px;
    border-top: 1px solid #FFFFFF;
}

.accordion-toggle {
    font-size: 3em;
}
