.content-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transform: translateY(-60px);
    .sub-section{
        margin-top: 0;
        
    }
}

  
  .content-section .sub-section h4 {
    z-index: 1;
    color: #1E1E1E;
    font-family: Space Grotesk;
    font-size: 46.027px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 69.041px */
    letter-spacing: -0.506px;
  }
  
  .content-section .sub-section p {
    z-index: 1;
    color: #000;
    font-family: Rubik;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; /* 36px */
    letter-spacing: -0.552px;
  }
  
