.content-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transform: translateY(-60px);
    .sub-section{
        margin-top: 0;
        
    }
}

// .content-section .sub-section h3 {
//     color: #00c3dd; /* Dark grey color for h3 headings */
//     font-size: 1.5em; /* Larger font size for h3 */
//     margin-bottom: 0.5em; /* Space below the heading */
//   }
  
  .content-section .sub-section h4 {
    color: #1E1E1E;
    font-family: Space Grotesk;
    font-size: 46.027px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 69.041px */
    letter-spacing: -0.506px;
  }
  
  .content-section .sub-section p {
    color: #000;
    font-family: Rubik;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; /* 36px */
    letter-spacing: -0.552px;
  }
  
