[class^="distractorsContent"] {
    img{
        width:100%
    }
    p{
        color: #000;
        font-family: Rubik_custom;
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: 150%; /* 36px */
        letter-spacing: -0.552px;
    }
    ul li{
    color: #000;
    font-family: Rubik_custom;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; /* 36px */
    letter-spacing: -0.552px;
}
}
.img_text, .pair, .vertical_images{
    display: flex;
}

.img_text{
    align-items: center; 
}

.vertical_images img, .img_text_vertical{
    padding-left: 10px;
}

.temp_head h2{
    color: #000000;
    font-family: Space Grotesk-Bold;
    font-size: 46.027px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 69.041px */
    letter-spacing: -0.506px;
}

.pair img{
    width: 40%;
}


