.pa-container{
    margin-top: 50px;
    display: flex;
    overflow:visible;
    margin-left: 3%;
    margin-right: 7%;
    .acord-container{
        width: 25%;
        z-index: 1;
        background-color: #ffffff00;
        margin-top: 20px;
        margin-right: 10px;
        display: flex;
        align-items: flex-start;
        overflow:visible;
        .sticky{
            position: sticky;
            top:150px;
            width:100%
        }
    }
    .content-container{
        align-items: start;
        margin-left: 80px;
        margin-right: 0px;
        flex:1;
    }
}

