
.Text1 h1{
    color: #000;
    font-family: Rubik;
    font-size: 48px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; /* 72px */
    letter-spacing: -1.104px;
    }

.Text2 h2{
    color: #1E1E1E;
    font-family: Space Grotesk;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 84px */
    letter-spacing: -0.616px;
    }

.Text3 h3{
    color: #000;
    font-family: Rubik;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; /* 36px */
    letter-spacing: -0.552px;
    text-transform: uppercase;
    }

.Text4 h4{
    color: #000;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; /* 24px */
    letter-spacing: -0.368px;
    text-transform: capitalize;
    }
