
[class^="ideodia_content"] {
    img{
        width:100%;
        border-radius: 2%;
    }
    ul li{
    color: #fff;
    font-family: Rubik_custom;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; /* 36px */
    letter-spacing: -0.552px;
}
    p{
        color: #fff;
        font-family: Rubik_custom;
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: 150%; /* 36px */
        letter-spacing: -0.552px;
    }
}
.img_text, .ideodia-pair, .vertical_images{
    display: flex;
}

.img_text{
    align-items: center; 
}


.ideodia_head h2{
    color: #fff;
    font-family: Space Grotesk-Bold;
    font-size: 46.027px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 69.041px */
    letter-spacing: -0.506px;
}

.content{
    position: absolute;
    z-index: 1;
}

.contentImage img{
    padding-top: 70px;

}
.ideodia_content_heading h2
{
    color: #fff;
    font-family: Space Grotesk-Bold;
    font-size: 46.027px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 69.041px */
    letter-spacing: -0.506px;
}

.yello_para p{
    color: #FEE171;
font-family: Rubik_custom;
font-size: 40px;
font-style: normal;
font-weight: 300;
line-height: 150%; /* 60px */
letter-spacing: -0.92px;}

.twobythreeimages{
    display: flex;
    .small{
        width:33%
    }
    .big{
        width:66%
    }
}
.squile1, .squile2{
    display: grid;
    img{
        padding-top:40px;
        width:20%;
    }
}
.squile1 {
    justify-items: end;
    img{
    transform: translateY(75px);
}}
