.ideodia-container{
    background-color: #1C846C;
    width: 100%;
    padding-bottom: 100px;
    overflow-y: visible;
    display: flex;
    position: relative;
    flex-direction: column;
    .content-section .sub-section h4 {color: #fff;}
    
}

.Header, .overview, .pa-container{
    z-index: 1;
}

.sub-section, .content-container, .content-section{
    overflow-x: visible;
}

.ideodia-header {
    .Header .header-content.header-content-column {
        .header-texts, .describe_container {
        h1,h3 { color: #FFE172;}
        h2,p,span, li, h4 { color: #fff;}
    }
}
.Header .describe_container .skills .skill img{
    filter: invert(1);
}
    
}