
[class^="ideostu_content"] {
    
    img{
        width:100%;
        border-radius: 2%;
    }
    ul li{
    color: #000;
    font-family: Rubik_custom;
    font-size: calc(24px * var(--scale));
    font-style: normal;
    font-weight: 300;
    line-height: 150%; /* 36px */
    letter-spacing: -0.552px;
}
    p{
        color: #000;
        font-family: Rubik_custom;
        font-size: calc(24px * var(--scale));
        font-style: normal;
        font-weight: 300;
        line-height: 150%; /* 36px */
        letter-spacing: -0.552px;
    }
}
.img_text, .ideostu-pair, .vertical_images{
    display: flex;
}

.img_text{
    align-items: center; 
}


.ideostu_head h2{
    color: #000000;
    font-family: Space Grotesk-Bold;
    font-size: calc(46px * var(--scale));
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 69.041px */
    letter-spacing: -0.506px;
}

.content{
    position: absolute;
    z-index: 1;
}

.contentImage img{
    padding-top: 70px;

}
.ideostu_content_heading h2
{
    color: #1E1E1E;
    font-family: Space Grotesk-Bold;
    font-size: calc(46px * var(--scale));
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 69.041px */
    letter-spacing: -0.506px;
}

.purple_para_rubic p{
    color: var(--digital-lavender, #7E41FF);
font-family: Rubik_custom;
font-size: calc(40px * var(--scale));
font-style: normal;
font-weight: 300;
line-height: 150%; /* 60px */
letter-spacing: -0.92px;}

.twobythreeimages{
    display: flex;
    .small{
        width:33%
    }
    .big{
        width:66%
    }
}


.eightandtwo{
        display: flex;
        .small{
            width:20%
        }
        .large{
            width:80%
        }
    }