
.Text {
    overflow-y: visible;
    position: relative;
    display: block;
    //flex-wrap: wrap;
    //justify-content: space-between;
    z-index: 3;
    left: 0%;
    top: 100px;
    width: 95%;

    .textboxA {
        z-index: 3;
        display: flex;
        position: relative;
        top: 0%;
        h1{
            margin-bottom: 0;
        }
        .smallline{
            position: initial;
            display:grid;
            align-items: end;
            padding-bottom: 0px;
            padding-left: 20px;
            transform: translateY(-20px);
        }
    }
    .textboxB {
        z-index: 3;
        position: relative;
        width: 68%;
        height: auto;
        h2{
            margin-top: 40px;
        }
    }
    .textboxC {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        z-index: 3;
        .B1 {
            display: block;
            width: 35%;
            height:auto;
        }
        .B2 {
            display: block;
            width: 18%;
            height: auto;
        }
        .B3 {
            display: block;
            width: 20%;
            height: auto;
        }
    }
    .Downarrow {
        position: relative;
        display: block;
        width: 19%;
        height: auto;
        padding-top: 100px;
        padding-bottom: 150px;

    }
    .textboxD {
        z-index: 35;
        position: sticky;
        background-color: #ffff;
        padding-top: 50px;
        top:0;
        h4{
            margin: 0;
        }
        .line{
            margin-top: 0;;
        }
        
    }
    .Box1 {
        display: block;
        z-index: 3;
        position: relative;
        padding-top: 40px;
        padding-bottom: 0px;
        margin: 0px;
    }
    .Box2 {
        
        z-index: 3;
        position: relative;
        display: flex;
        padding-top: 0px;
        padding-bottom: 40px;
        margin: 0px;
    }
    .Box3 {
        display: block;
        z-index: 3;
        position: relative;
        padding-top: 40px;
        padding-bottom: 40px;
        margin: 0px;
        align-items: end;
        text-align: right;
        .outertextbox{
            display: inline-block;
        }
    }
    .Box4 {
        display: block;
        z-index: 3;
        position: relative;
        padding-top: 40px;
        padding-bottom: 40px;
        margin: 40px;
        align-items: end;
        text-align: left;
        .outertextbox{
            display: inline-block;
        }
    }

    .Box5 {   
        z-index: 3;
        position: relative;
        display: flex;
        padding-top: 40px;
        padding-bottom: 40px;
        margin: 0px;
    }
    .Box6 {
        display: block;
        z-index: 3;
        position: relative;
        padding-top: 40px;
        padding-bottom: 40px;
        margin: 0px;
        align-items: end;
        text-align: right;
        .outertextbox{
            display: inline-block;
        }
    }
    .Box7 {
        display: block;
        z-index: 3;
        position: relative;
        padding-top: 40px;
        padding-bottom: 40px;
        margin: 40px;
        align-items: end;
        text-align: left;
        .outertextbox{
            display: inline-block;
        }
    }

    
}



