
.homebody {
    overflow-y: visible;
    position: relative;
    display: block;
    z-index: 3;
    left: 0%;
    margin-top: 160px;
    width: 100%;
    height: auto;

    .textboxA {
        z-index: 3;
        display: flex;
        position: relative;
        top: 0%;
        padding-left: 8.53%;
        h1{
            margin-bottom: 0;
        }
        .face{
            width:50px;
            height:72.62px;
            position: initial;
            display:grid;
            align-items: end;
            padding-bottom: 0px;
            padding-left: 20px;
            transform: translateY(30px);
        }
    }
    .textboxB {
        z-index: 3;
        position: relative;
        width: 68%;
        height: auto;
        padding-left: 8.53%;
        h2{
            margin-top: 40px;
            font-family: Space Grotesk-Bold;
        }
    }
    .textboxC {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        z-index: 3;
        padding-left: 8.53%;
        padding-right: 5%;
        .B1 {
            display: block;
            width: 35%;
            height:auto;
        }
        .B2 {
            display: block;
            width: 16%;
            height: auto;
        }
        .B3 {
            display: block;
            width: 20%;
            height: auto;
        }
    }
    .Downarrow {
        position: relative;
        display: block;
        width: 19%;
        height: auto;
        padding-top: 80px;
        padding-bottom: 150px;
        padding-left: 8.53%;

    }
    .textboxD {
        z-index: 35;
        //position: sticky;
        background-color: #ffff;
        padding-top: 50px;
        padding-left: 8.53%;
        padding-right: 5%;
        top:0;
        h4{
            margin: 0;
        }
        .line{
            margin-top: 0;;
        }
        
    }
    .Box1 {
        display: flex;
        z-index: 3;
        position: relative;
        padding-top: 40px;
        padding-bottom: 0px;
        margin: 0px;
        .gifBox1{
            flex:1;
            img{
                width: 80%;
                height: auto;
            }
        }
    }
    .Box2 {
        
        z-index: 3;
        position: relative;
        display: flex;
        padding-top: 0px;
        padding-bottom: 40px;
        margin: 0px;
    }
    .Box3 {
        display: flex;
        z-index: 3;
        position: relative;
        padding-top: 80px;
        padding-bottom: 200px;
        margin: 0px;
        flex-direction: row-reverse;
        text-align: right;
        .gifBox3{
            display: flex;
            flex:1;
            align-items: center;
            .visiblegif{
                display: flex;
            }
        }
        .outertextbox{
            display: inline-block;
        }
    }
    .Box4 {
        display: flex;
        z-index: 3;
        position: relative;
        padding-top: 40px;
        padding-bottom: 40px;
        margin-top: 40px;
        margin-bottom: 150px;
        // align-items: end;
        text-align: left;
        .gifBox4{
            display: flex;
            flex:1;
            align-items: center;
            
        }
        .outertextbox{
            display: inline-block;
        }
    }

    .Box5A {   
        z-index: 3;
        position: relative;
        display: flex;
        padding-top: 40px;
        padding-bottom: 0px;
        .gifBox5A{
            display: flex;
            flex:1;
            align-items: top;
            margin-bottom: 100px;
        }
    }
    .Box5B {   
        z-index: 3;
        position: relative;
        display: flex;
        padding-top: 0px;
        margin-bottom: 100px;
        .gifBox5B{
            display: flex;
            flex:1;
            align-items: center;
        }
    }
    .Box6 {
        display: flex;
        z-index: 3;
        position: relative;
        padding-top: 40px;
        padding-bottom: 150px;
        text-align: right;
        .gifBox6{
            display: flex;
            flex:1;
            align-items: center;
            flex-direction: column;
            animation:  moveleft-people 1s ease;
            animation-timeline: view();
            .people img{
                width: 66%;
                height:auto;
                transform: translateX(-40%);
                padding-bottom: 10px;
            }
            .board img{
                width: 100%;
                height:auto;
                transform: translateX(30%);  
            }
        }
        .outertextbox{
            display: inline-block;
            max-height: 550px;
            
        }
    }
    .Box7 {
        display: flex;
        z-index: 3;
        position: relative;
        padding-top: 40px;
        padding-bottom: 40px;
        margin-top: 40px;
        margin-bottom: 50px;
        text-align: left;
        .gifBox7{
            //display: flex;
            flex:1;
            align-items: center;
            .screen{
                
            .computer img{
                width: 40%;
                height:auto;
                position: absolute;
                left: 45%;
                
            }
            .poster_gif img{
                width: 38%;
                height:auto;
                position: absolute;
                left: 46%;
                top: 10%;
                animation:  appear 1s ease-in;
                animation-timeline: view();
                animation-range-end: 500px;
            }
        }
        }
        .outertextbox{
            display: inline-block;
        }
    }

    
}


@keyframes moveright-board {
    from {
        scale:0.9;
        opacity: 0.5;
    }
    to {
        scale:1;
        opacity: 1;
    }}
@keyframes moveleft-people {
    from {
        scale:0.9;
        opacity: 0.5;
    }
    to {
        scale:1;
        opacity: 1;
    }}

@keyframes appear {
    from {
        opacity: 0.8;
        scale:0;
    }
    to {
        opacity: 1;
        scale:1;
    }
}
