.nav-bar {
    background: #ffffff00;
    width: 100%; /* Sidebar width */
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
}

.logo {
    display: block;
    width: 41%; /* Adjust this to control the logo size */
    margin: 0 auto; /* Center the logo */
    padding-top: 20px; /* Optional padding */
    padding-bottom: 10px; /* Optional padding */
    min-width: 40px;
}

.logo img {
    display: block;
    width: 100%; /* Make the image fill its container */
    height: auto; /* Maintain aspect ratio */
}
