.line {
  /* Common styles for the line */
  height: 1px;
  width: 100%;
  margin: 0;
  /* Add other common styles as needed */
}

/* Styles for light-colored line */
.light-line {
  background-color: white; /* Set the line color for 'light' type */
  /* Add other styles for 'light' type */
}

/* Styles for dark-colored line */
.dark-line {
  background-color: black; /* Set the line color for 'dark' type */
  /* Add other styles for 'dark' type */
}
.green-line {
  background-color: var(--light-blue, #57B3DE);; /* Set the line color for 'dark' type */
  width: 100%;
  /* Add other styles for 'dark' type */
}
