
h5 {
    color: #1E1E1E;
    font-family: Space Grotesk-Bold;
    font-size: calc(56px * var(--scale));
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 84px */
    letter-spacing: -0.616px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h6 {
    color: #000;
    font-family: "Rubik_custom";
    font-size: calc(16px * var(--scale));
    font-style: normal;
    font-weight: 300;
    line-height: 150%; /* 24px */
    letter-spacing: -0.368px;
    text-transform: uppercase;
    padding-top: 0px;
    margin-top: 0px;
}


.WrapperRight{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    // padding: 0 20px;

.RightTitle{
    left: 0;
    position: relative;
    display: block;
    flex-wrap: wrap;
    z-index: 3;
    //padding-right: 10px;
    h5,h6{
        margin: 0;
    }
}

.LogoImageL img {
    height: 100px;
    width: auto;  
}
}