.daps-container{
    overflow-y: visible;
    display: flex;
    position: relative;
    flex-direction: column;

}

.Header, .overview, .pa-container{
    z-index: 1;
}

.blue-rectangular {
    display: block;
    position: absolute;
    left:0;
    transform: translateX(-10%);
    width: 110vw; /* Set the width as desired */
    height: 530px; /* Set the height as desired */
    background: #01658B;; /* Set the background color to blue */
    z-index: 0;
    flex-shrink: 0; 
  }

// .key-opportunity{
//     overflow-x: visible;
//     background-image: url('../../assets/DAPS/img_5.svg');
//     background-size:contain;
//     background-position: center;
//     background-size: 100vw;
// }
.sub-section, .content-container, .content-section{
    overflow-x: visible;
}