$primary-color: #FFFFFF;

@font-face {
  font-family: 'Space Grotesk-Bold';
  src: url('../public/fonts/SpaceGrotesk-Bold.woff2') format('woff2');
  src: url('../public/fonts/SpaceGrotesk-Bold.woff') format('woff');
  src: url('../public/fonts/SpaceGrotesk-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik_custom';
  src: url('../public/fonts/rubik-variablefont_wght-webfont.woff2') format('woff2');
  src: url('../public/fonts/rubik-variablefont_wght-webfont.woff') format('woff');
  src: url('../public/fonts/Rubik-VariableFont_wght.ttf') format('truetype');
}



.app-container-light, .app-container-dark{
  display: flex;
  flex-direction: column;
}
.otherProject{
  display: block;
  position: relative;
}



.app-container-dark{
  background-color: black;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  /* Additional styles for your sidebar */
}

.body {
  display: grid;
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  
  .page-content {
    display: block;
    //flex: 1; /* Take remaining space */
    //overflow-y: auto; /* Enable vertical scrolling */
    //box-sizing: border-box; /* Include padding in width/height calculation */
    /* Additional styles for your page content */
  }

  .footer-container {
    position: inherit;
    display: block; /* Initially hide the footer */
    /* Additional styles for your footer */
  }
}


h1, h2, h3, h4, p{
  animation: text-appear ease-in forwards;
  animation-timeline: view();
  animation-range-end: 500px;
  animation-duration: 1ms;
}

@keyframes text-appear {
  from{
    opacity: 0.8;
    scale:0.95;
  }
  to{
    opacity:1;
    scale:1;
  }
}