$primary-color: #FFFFFF;

@font-face {
  font-family: 'Rubik_custom';
  src: url('../public/fonts/rubik-variablefont_wght-webfont.woff2') format('woff2');
  src: url('../public/fonts/rubik-variablefont_wght-webfont.woff') format('woff');
}

// @font-face {
//   font-family: 'Space Grotesk';
//   src: url('../public/fonts/SpaceGrotesk-VariableFont_wght.woff2') format('woff2');
//   src: url('../public/fonts/SpaceGrotesk-VariableFont_wght.woff') format('woff');
// }

@font-face {
  font-family: 'Space Grotesk-Bold';
  src: url('../public/fonts/SpaceGrotesk-Bold.woff2') format('woff2');
  src: url('../public/fonts/SpaceGrotesk-Bold.woff') format('woff');
  src: url('../public/fonts/SpaceGrotesk-Bold.ttf') format('ttf');
}

.app-container-light, .app-container-dark{
  display: flex;
  flex-direction: column;
}
.otherProject{
  display: block;
  position: relative;
}



.app-container-dark{
  background-color: black;
}

// .sidebar {
//   position: fixed;
//   top: 0px; /* Adjust as needed */
//   left: 0px; /* Adjust as needed */
//   height: 100vh;
//   z-index: 999; /* Ensure the logo stays on top */
//   /* Additional styles for your logo */
// }
// .body {
//   position: relative;
//   height: 100vh;
//   width: 100vw;
//   .page-content {
//     position: relative;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     overflow-y: auto; /* Enable vertical scrolling */
//     box-sizing: border-box; /* Include padding in width/height calculation */
    
//     /* Additional styles for your page content */
//   }
//   .footer-container{
//     display: block;
//     position: relative;
//     //bottom: 0;
//   }
// }

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  /* Additional styles for your sidebar */
}

.body {
  display: grid;
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  
  .page-content {
    display: block;
    //flex: 1; /* Take remaining space */
    //overflow-y: auto; /* Enable vertical scrolling */
    //box-sizing: border-box; /* Include padding in width/height calculation */
    /* Additional styles for your page content */
  }

  .footer-container {
    position: inherit;
    display: block; /* Initially hide the footer */
    /* Additional styles for your footer */
  }
}
