html{
  font-size:62.5%;
}
body {
  margin: 0;
  font-family: 'Rubik';
  color: #444;
  background: #ffff;
  overflow-y: visible;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

