.Ellipse{
    position: relative;}
.circle-container {
    position: absolute;
    z-index : 1;
    width: 40%; /* Adjust as needed */
    height: auto; /* Adjust as needed */
    top: 40px;
    left: 50%;
    animation: rotate 5s linear infinite;
    img {
        width: 100%;
        height: 100%;
        opacity: 100%;
        display: block; /* Removes any extra space inside the container */
    }

    @keyframes rotate {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
}
.static-circle {
    position: absolute;
    z-index : 2;
    /* Adjust as needed */
    width: 22%;
    height: auto;
    top: 40px;
    right: 0%;
    img {
        width: 100%;
        height: 100%;
        display: block; /* Removes any extra space inside the container */
    }
}
